#deletePostForm {
  border-radius: 25px;
  background-color: #0B1A30;
  padding: 5%;
  color: #fff;
  margin-top: 30px;
}

.deletePostTitleDiv {
  margin-bottom: 30px;
}

.deletePostMessageDiv {
  margin-bottom: 30px;
}

.deletePostButtonDiv {
  display: flex;
  justify-content: right;
  margin-top: 30px;
}

.deletePostButtonDiv__button {
  height: 50px;
  width: 280px;
  border-radius: 25px;
  cursor: pointer;
  background-color: #D1515A;
  transition: .3s;
  border-style: none;
}

.deletePostButtonDiv__button:hover {
  transition: .3s;
  background-color: #fff;
}