#updatePostForm {
  border-radius: 25px;
  background-color: #0B1A30;
  padding: 5%;
  color: #fff;
  margin-top: 30px;
}

.updatePostTitleDiv {
  margin-bottom: 30px;
}

.updatePostInputDiv {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.updatePostInputDiv__label {
  color: #fff;
  margin-bottom: 5px;
}

.updatePostInputDiv__input {
  height: 30px;
  border-radius: 20px;
  border-style: none;
  padding: 0 15px;
}

.updatePostButtonDiv {
  display: flex;
  justify-content: right;
  margin-top: 30px;
}

.updatePostButtonDiv__button {
  height: 50px;
  width: 280px;
  border-radius: 25px;
  cursor: pointer;
  background-color: #D1515A;
  transition: .3s;
  border-style: none;
}

.updatePostButtonDiv__button:hover {
  transition: .3s;
  background-color: #fff;
}