#signinForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/***************************************************************************** 1st container */

.signin__titleDiv {
  margin-bottom: 60px;
}

/***************************************************************************** 2nd container */

.signinInputDiv {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  align-items: center;
  width: 100%;
}

.signinInputDiv__label {
  text-align: center;
  color: #fff;
}

.signinInputDiv__input {
  height: 30px;
  text-align: center;
  width: 280px;
  border-radius: 20px;
  border-style: none;
}

/***************************************************************************** 3rd container */

.signinButtonDiv {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.signinButtonDiv__button {
  height: 50px;
  width: 280px;
  border-radius: 25px;
  cursor: pointer;
  background-color: #D1515A;
  border-style: none;
}

.signinButtonDiv__button:hover {
  transition: 0.3s;
  background-color: #ffffff;
}