#profilePage {
  width: 85%;
  background: #112341;
  border-radius: 25px;
  margin: 110px 0 30px 0;
  padding: 2%;
}

.profilePageTitleDiv {
  margin: 2% 0;
  display: flex;
  justify-content: center;
}

.profileArticle {
  background: #0B1A30;
  border-radius: 25px;
  padding: 20px;
  margin-bottom: 30px;
  transition: .3s;
}

.profileArticle:hover {
  transition: .3s;
  background: #07111f;
}

.profileImageDiv {
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
}

.profileImageDiv__image {
  object-fit: contain;
  max-width: 100%;
}

.profileContentDiv {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.profileContentDiv__title {
  margin-bottom: 15px;
}

.profileContentDiv__email {
  margin-bottom: 15px;
}

.profileContentDiv__bio {
  margin-bottom: 15px;
}

.profileContentDiv__date {
  margin-bottom: 15px;
}

.profileFeaturesDiv {
  display: flex;
  justify-content: space-evenly;
}

.button {
  height: 40px;
  width: 120px;
  border-radius: 50px;
  cursor: pointer;
  background-color: #D1515A;
  border-style: none;
  transition: .3s;
}

.button:hover {
  background-color: #fff;
  transition: .3s;
}

.button--active {
  height: 40px;
  width: 120px;
  border-radius: 50px;
  cursor: pointer;
  background-color: #fff;
  border-style: none;
  transition: .3s;
}