#updateProfileForm {
  border-radius: 25px;
  background-color: #0B1A30;
  padding: 5%;
  color: #fff;
  margin-top: 30px;
}

.updateProfileTitleDiv {
  margin-bottom: 30px;
}

.updateProfileInputDiv {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.updateProfileInputDiv__label {
  color: #fff;
  margin-bottom: 5px;
}

.updateProfileInputDiv__input {
  height: 30px;
  border-radius: 20px;
  border-style: none;
  padding: 0 15px;
}

.updateProfileButtonDiv {
  display: flex;
  justify-content: right;
  margin-top: 30px;
}

.updateProfileButtonDiv__button {
  height: 50px;
  width: 280px;
  border-radius: 25px;
  cursor: pointer;
  background-color: #D1515A;
  transition: .3s;
  border-style: none;
}

.updateProfileButtonDiv__button:hover {
  transition: .3s;
  background-color: #fff;
}